<div class="mt-8">
  <h4 class="text-3xl font-bold mb-2">Кабінет автора</h4>
  <h4 class="mt-8 text-2xl font-bold mb-2">Книги</h4>
  <%= turbo_frame_tag :books, class: "flex flex-wrap place-content-between", src: user_path(current_user, format: :turbo_stream, page: params[:page]), loading: :lazy do %>
    <% 8.times do %>
      <%= render "shared/book_placeholder" %>
    <% end %>
  <% end %>

  <div id="next_link">
    <%= render "shared/load_more" %>
  </div>
</div>
