<footer>
  <img class="my-5" src="../full_logo.svg" alt="Логотип"/>
  <div class="d-flex justify-content-between footer_sides footer_links">
    <div>
      <p>Головна</p>
      <p>Як це працює?</p>
      <p>Про нас</p>
    </div>
    <div>
      <p>Видати книгу</p>
      <p>Партнерство</p>
      <p>Служба підтримки</p>
    </div>
    <div>
      <img src="../tmp_social.svg" alt="Логотип"/>
    </div>
  </div>
  <div class="mt-3 d-flex justify-content-between footer_sides footer_links">
    <div>
      <p>ФОП ТОДОРОВ МАКСИМ ОЛЕКСАНДРОВИЧ</p>
      <p>ЄДРПОУ: 3771110895</p>
    </div>
    <div>
      <p>©Видала громада 2023</p>
    </div>
    <div>
      <p>Політика конфіденційності</p>
    </div>
  </div>
</footer>