<nav class="flex place-content-between my-3">
  <div>
    <a class="navbar-brand" href="/">
        <img src="../../logo.svg" alt="Логотип"/>
    </a>
  </div>
  <div class="flex content-center">
    <%= link_to "Книги", root_path, class: "content-center container rounded-sm text-center py w-fit mx-2 px-2 mr-2" %>
    <a class="content-center container rounded-sm text-center py w-fit mx-2 px-2 mr-2" href="#">Як це працює?</a>
    <a class="content-center container rounded-sm text-center py w-fit mx-2 px-2 mr-2" href="#">Про нас</a>
    <a class="content-center container rounded-sm text-center py w-fit mx-2 px-2 mr-2" href="#">Контакти</a>
  </div>
  <div class="flex place-content-center" data-turbo="false">
    <% if user_signed_in? %> 
      <%= button_to "Вийти", destroy_user_session_path, method: :delete, class: "content-center container rounded-sm text-center py w-fit mx-2 px-2 mr-2"%> 
    <% else %>
      <%= link_to "Увійти", new_user_session_path, class: "content-center container rounded-sm text-center py w-fit mx-2 px-2 mr-2" %>
    <% end %>
    <%= link_to "Видати книгу", new_book_path, class: "content-center container rounded-sm text-center py w-fit mx-2 px-2 bg-gromada-green"%>
  </div>
</nav>
