<nav class="d-flex justify-content-between my-3 mx-4">
  <div>
    <a class="navbar-brand" href="/">
        <img src="../logo.svg" alt="Логотип"/>
    </a>
  </div>
  <div>
    <a class="btn mr-2" href="#">Книги</a>
    <a class="btn mr-2" href="#">Як це працює?</a>
    <a class="btn mr-2" href="#">Про нас</a>
    <a class="btn mr-2" href="#">Контакти</a>
  </div>
  <div>
    <form>
      <a class="btn mr-2" href="#">Увійти</a>
      <a class="btn bg-gromada-green" href="#">Видати книгу</a>
    </form>
  </div>
</nav>
