<div class="placeholder-glow flex place-content-center border-gromada-gray border book-block mb-2">
  <div class="m-3 content-block">
    <div class="image-block flex place-content-center">
      <div class="w-[50%] mb-2 placeholder"></div>
    </div>
    <h5 class="text-xl font-bold col-6 placeholder"></h5>
    <div>
      <span class="col-5 placeholder"></span>
      <span class="col-5 placeholder"></span>
    </div>
    <div>
      <span class="col-5 placeholder"></span>
      <span class="col-5 placeholder"></span>
    </div>
    <div>
      <span class="col-5 placeholder"></span>
      <span class="col-5 placeholder"></span>
    </div>
  </div>
</div>