<div class="placeholder-glow flex place-content-center border book-block mb-2">
  <div class="m-3 content-block">
    <div class="image-block">
      <div class="book-cover mb-2 placeholder"></div>
    </div>
    <h5 class="col-6 placeholder"></h5>
    <div>
      <span class="col-5 placeholder"></span>
      <span class="col-5 placeholder"></span>
    </div>
    <div>
      <span class="col-5 placeholder"></span>
      <span class="col-5 placeholder"></span>
    </div>
    <div>
      <span class="col-5 placeholder"></span>
      <span class="col-5 placeholder"></span>
    </div>
  </div>
</div>