<% if @pagy.next.present? %>
  <div class="d-flex justify-content-center">
    <%= button_to books_path, params: { page: @pagy.next }, method: :get, "data-turbo-stream": true, class: "btn btn-outline-secondary py-2 px-4 text-dark" do %>
      <img src="icons/page.svg"/>
      Показати більше
      <img src="icons/page.svg"/>
    <% end %>
  </div>
<% end %>