<div>
  <h4 class="mb-2">Популярні збори</h4>
  <%= turbo_frame_tag :books, class: "flex flex-wrap place-content-between", src: books_url(format: :turbo_stream, page: params[:page]), loading: :lazy do %>
    <% 8.times do %>
      <%= render "book_placeholder" %>
    <% end %>
  <% end %>

  <div id="next_link">
    <%= render "books/load_more" %>
  </div>
</div>
