<div class="max-w-xl mx-auto mt-20 text-center">
  <h1 class="text-3xl font-semibold text-green-600">Дякуємо за підтримку!</h1>
  <p class="mt-4 text-gray-700">Ваш платіж було успішно здійснено.</p>
  <%= link_to "Повернутися до книги", books_path, class: "inline-block mt-6 px-4 py-2 bg-blue-500 text-white rounded" %>
</div>
