@import "bootstrap";

html {
  font-family: "Artegra Sans Extended", sans-serif;
}

footer {
  background-color: #131313;
  bottom: 0; 
  left: 0; 
  width: 100%;
  text-align: center;
  color: white;
}

a {
  color: #131313;
  text-decoration: none;
}

.footer_sides {
  margin-right: 200px;
  margin-left: 200px;
}

.footer_links {
  text-align: left;
}

.border-gromada-green {
  border: 1px solid #7e8c12;
  border-radius: 6px;
}

.text-gromada-green {
  color: #879616;
}

.bg-gromada-green {
  background-color: #ACBE1A;
}

.catalog-page {
  margin-left: 10%;
  margin-right: 10%;
}

.content-block {
  width: 90%;
}

.book-cover {
  width: 150px;
}

.image-block {
  text-align: center;
}

.tag {
  margin-right: 5px;
}

.book-block {
  width: 24%;
}

@media screen and (max-width: 950px) {
  .book-block {
    width: 49%;
  }
}
