@font-face {
  font-style: normal;
  font-weight: 400;
  font-display: block;
  font-family: "Artegra Sans Extended";
  src: font-url('ArtegraSansExRegular.ttf') format('truetype');
}

* {
  font-family: "Artegra Sans Extended";
}

footer {
  background-color: #131313;
  bottom: 0; 
  left: 0; 
  width: 100%;
  text-align: center;
  color: white;
}

a {
  color: #131313;
  text-decoration: none;
}

.flash {
  position: absolute;
  right: 10px;
  animation-name: alert-animation;
  animation-duration: 1s;
  cursor: pointer;
}

@keyframes alert-animation {
  from { right: -500px; }
  to { right: 10px; }
}

.alertCheckbox {
  display: none;
}

:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 10px;
  cursor: pointer;
}

.clear {
  clear: both;
}

.footer_sides {
  margin-right: 200px;
  margin-left: 200px;
}

.footer_links {
  text-align: left;
}

.border-gromada-green {
  border: 1px solid #7e8c12;
  border-radius: 6px;
}

.text-gromada-green {
  color: #879616;
}

.text-gromada-black {
  color: #41433F
}

.bg-gromada-green {
  background-color: #ACBE1A;
}

.bg-gromada-light-green {
  background-color: #E8EACC;
}

.bg-gromada-light-gray {
  background-color: #FAFAFA;
}

.catalog-page {
  margin-left: 10%;
  margin-right: 10%;
}

.content-block {
  width: 90%;
}

.book-cover {
  width: 150px;
  height: 200px;
}

.image-block {
  text-align: center;
}

.tag {
  margin-right: 5px;
}

.book-block {
  width: 24%;
}

.create-book-section {
  width: 250px;
}

.selected-line {
  height: 5px;
}

.click-svg {
  width: 30px;
}

#book:checked + label > .selected-line,
#rewards:checked + label > .selected-line,
#contacts:checked + label > .selected-line
{
  display: block !important;
}

// https://isotropic.co/tool/hex-color-to-css-filter/
#book:checked + label > div > .click-svg,
#rewards:checked + label > div > .click-svg,
#contacts:checked + label > div > .click-svg
{
  filter: invert(57%) sepia(74%) saturate(451%) hue-rotate(28deg) brightness(85%) contrast(99%);
}

@media screen and (max-width: 950px) {
  .book-block {
    width: 49%;
  }
}
