//= require actiontext
//= require trix

@import 'actiontext';
@import 'dialog_window';
@import 'multiselect';

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-display: block;
  font-family: "Artegra Sans Extended";
  src: font-url('ArtegraSansExRegular.ttf') format('truetype');
}

* {
  font-family: "Artegra Sans Extended";
}

.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: currentColor;
  opacity: .5;
}

.placeholder-glow .placeholder {
  -webkit-animation: placeholder-glow 2s ease-in-out infinite;
  animation: placeholder-glow 2s ease-in-out infinite;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-5 {
  flex: 0 0 auto;
  width: 40%;
}

footer {
  background-color: #131313;
  bottom: 0; 
  left: 0; 
  width: 100%;
  text-align: center;
  color: white;
}

a {
  color: #131313;
  text-decoration: none;
}

.flash {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.alertCheckbox {
  display: none;
}

:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 10px;
  cursor: pointer;
}

.clear {
  clear: both;
}

.footer_sides {
  margin-right: 200px;
  margin-left: 200px;
}

.footer_links {
  text-align: left;
}

.text-gromada-black {
  color: #41433F
}

.bg-gromada-light-green {
  background-color: #E8EACC;
}

.bg-gromada-light-gray {
  background-color: #FAFAFA;
}

.catalog-page {
  margin-left: 10%;
  margin-right: 10%;
}

.content-block {
  width: 90%;
}

.image-block {
  text-align: center;
}

.tag {
  margin-right: 5px;
}

.book-block {
  width: 24%;
}

.create-book-section {
  width: 250px;
}

.selected-line {
  height: 5px;
}

.click-svg {
  width: 30px;
}

@media screen and (max-width: 950px) {
  .book-block {
    width: 49%;
  }
}
